<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-light bg-light" >
   
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
              <a class="nav-link " routerLink="/AddTask">AddTask <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link " routerLink="/ViewTask">ViewTask</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/ModifyTask">ModifyTask</a>
        </li>
      </ul>
  </div>
</nav>