<div class="Container" style="padding-top:.5rem;">
  <div class="row">
    <div class="col-9 xs-12" style="padding-left:1rem;">
     <form [formGroup]="searchForm" class="form-inline">
      <div class="form-group w-100" >
        
          <label  style="text-align: left;width: 6%">Task:</label>
          <input type="text" class="form-control" style="width: 36%" id="inputTask" formControlName="taskName"maxlength="20">
          <label for="inputTaskParent" class="control-label"  style="text-align: left;width: 12%">Parent Task:</label>
          <input type="text" class="form-control" style="width: 46%"  id="inputTaskParent" formControlName="taskParentName">
          
          
          
        </div>
        <div class="form-group w-100" style="padding-top:1rem;">
            <label for="PrioFrom" style="text-align: left;width: 13%">Priority From:</label>
             
               <input type="number" class="form-control" style="width: 9%" id="PrioFrom" formControlName="PriorityFrom">
                
             
             <label for="PrioTo" style="text-align: left;width:11%">Priority To:</label>
             
               <input type="number" class="form-control" style="width: 9%" id="PrioTo" formControlName="PriorityTo">
                
             
             <label for="stDate" style="text-align: left;width:10%">Start Date:</label>
             <div class="input-group" style="width: 19%">
                   
                <input  class="form-control" matInput [matDatepicker]="startDate"  name="startdate" formControlName="startdate">
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
                
                
               
             </div>
             <label for="enddate" style="text-align: left;width:10%">End Date:</label>
             <div class="input-group " style="width: 19%">
                   
                <input  class="form-control" matInput [matDatepicker]="enddate"   formControlName="enddate">
                <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                <mat-datepicker #enddate></mat-datepicker>
                
                
               
             </div>
             
                
             
          </div>

      </form>
      
     </div>
  </div>
  
    <div class="row">
      <div class="col-9 xs-12" style="padding:1rem;">
        <div  *ngIf="isError" >
              <div class="alert alert-danger" id="erDiv" #erDiv>
                  {{errorMsg}}
              </div>      
                        
          
         </div>
        
         <table mat-table [dataSource]="dataSource" class="table">
               <ng-container matColumnDef="TaskId">
                     <th mat-header-cell *matHeaderCellDef> TaskId </th>
                     <td mat-cell *matCellDef="let row"> {{row.TaskId}} </td>
                   </ng-container>
                 
                   <ng-container matColumnDef="TaskName">
                    <th mat-header-cell *matHeaderCellDef> Task </th>
                    <td mat-cell *matCellDef="let row"> {{row.TaskName}} </td>
                  </ng-container>
                
                  <!-- Weight Column -->
                  <ng-container matColumnDef="ParentTaskName">
                    <th mat-header-cell *matHeaderCellDef> Parent </th>
                    <td mat-cell *matCellDef="let row"> {{row.ParentTaskName}} </td>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="Priority">
                    <th mat-header-cell *matHeaderCellDef> Priority </th>
                    <td mat-cell *matCellDef="let row"> {{row.Priority}} </td>
                  </ng-container>
                  <ng-container matColumnDef="StartDate">
                       <th mat-header-cell *matHeaderCellDef> StartDate </th>
                       <td mat-cell *matCellDef="let row"> {{row.StartDate |date:'shortDate' }} </td>
                     </ng-container>
                   
                    
                     <ng-container matColumnDef="EndDate">
                       <th mat-header-cell *matHeaderCellDef> EndDate </th>
                       <td mat-cell *matCellDef="let row"> {{row.EndDate |date:'shortDate'}} </td>
                     </ng-container>  
                     <ng-container matColumnDef="customColumn1">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let row"> 
                          <button class="btn btn-light btn-sm" (click)="EndTask(row)" [disabled]="DisableButton(row)"
                          >
                            EndTask</button>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="customColumn2">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let row"> 
                          <button class="btn btn-light btn-sm" (click)="EditTask(row)"[disabled]="DisableButton(row)">EditTask</button>
                      </td>
                    </ng-container> 
                      
                   <tr scope="col" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         
         </table>
      </div>
    </div>
  
  </div>
  